:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

p {
    font-size: 14px;
    line-height: 1.6;
    color: var(--Desaturated-blue);
}

.text p {
    font-size: 15px;
    text-align: center;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: var(--Pale-blue);
}

main {
    margin: 40px 24px;
    width: 300px;
    height: 570px;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 25px 70px -50px var(--Bright-blue);
    flex: 0 0 auto;
}

.img img {
    width: 100%;
    display: block;
    border-radius: 0px;
}

.text {
    padding: 0 34px;
}

.btn,
.plan {
    margin: 23px;
}

a {
    padding: 30px 0px 30px 20px;
    font-size: 13px;
    color: var(--Bright-blue);
    font-weight: bolder;
}

h2 {
    text-align: center;
    margin: 30px;
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 900;
}

.plan {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(230, 75%, 98%);
    border-radius: 13px;
}

.btn button {
    width: 100%;
    border: none;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
}

.btn button:hover {
    filter: contrast(4)
}

.btn button:hover:nth-of-type(2) {
    color: black;
}

.btn button:nth-of-type(1) {
    padding: 15px;
    background-color: var(--Bright-blue);
    color: white;
    border-radius: 13px;
    box-shadow: 0 20px 30px hsla(244.9, 74.7%, 52%, 0.26);
}

.btn button:nth-of-type(2) {
    padding: 10px;
    background-color: transparent;
    color: var(--Desaturated-blue);
    margin: 17px 0;
}

.attribution {
    font-size: 13px;
    text-align: center;
    position: absolute;
    left: calc(50% - 95px);
}

.attribution a {
    color: hsl(228, 45%, 44%);
    padding: 0;
}

@media (min-width:450px) {
    body {
        background-image: url(images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-color: var(--Pale-blue);
        background-position-y: -60%;
    }
}